*{
    padding:0px;
    margin: 0px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   background: linear-gradient(to left, #1506ec, #6a6af3);
}

.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px 20px 10px 20px;
    gap: 40px;
    font-size: 12px;
    border-radius: 5%;
}

.display{
    display:flex;  
    flex-direction: column;  
    gap: 50px;
    font-size: 17px;
    padding-bottom: 30px;
    
}

.option{
    display: flex;
    gap: 20px;
    align-self: center;
    align-items: center;
}

#button1{
    width: 100%;
    height: 40px;
    align-self: center;
    border-radius: 30px;
    border: none;
   background: linear-gradient(to left,  #1506ec, #5050ef);
    color: white;
    font-size: 14px;
    box-shadow: 0px 1px 5px 0px rgba(16, 74, 239, 0.8);
     transition: all 0.3s ease; 
   
}

.options{
    padding: 10px;
    border-style: solid;
    border: none;
    border-radius: 9px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    
}
input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding-left:10px;
    border-radius: 6px;
    font-size: 20px;
    box-shadow:0px 3px 10px 1px rgba(0, 0, 0, 0.4) ;
}
select{
    border: none;
    font-size: 15px;
    outline: none;
}

#curry{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-shadow: 0 1px 2.5px rgba(114, 12, 223, 0.5);;
}
img{
    width: 30px;
}
#swap{
    width:70px;
    height: 40px;
    font-size: 30px;
    background-color: white;
    border: none;
    text-shadow: 0 0 1.5px ;

}

#amount{
    margin-top: 10px;
}


button:active {
    /* This rotates the colors 180 degrees on the color wheel */
    filter: hue-rotate(180deg); 
    transform: scale(0.98);
}